Repository DashAISoftware/DashAI, pull requests merged in 2023-07, with the labels that each got.

#109 Dataset and experiment tables update
  DashAI/front/src/components/DatasetsTable.jsx
  DashAI/front/src/components/EditDatasetModal.jsx
  DashAI/front/src/components/custom/DeleteItemModal.jsx
  DashAI/front/src/components/datasets/DatasetModal.jsx
  DashAI/front/src/components/experiments/ExperimentsTable.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
  DashAI/front/src/pages/ExperimentPage.jsx
  DashAI/front/src/styles/theme.js
  DashAI/front/src/tabs/Data.jsx
Labels: bug, enhancement, front

#113 Parameter form validation
  DashAI/front/src/components/ConfigurableObject/Inputs/InputStyles.jsx
  DashAI/front/src/components/ConfigurableObject/MainForm.jsx
  DashAI/front/src/components/ConfigurableObject/Subform.jsx
  DashAI/front/src/utils/paramFormValidation.js
Labels: enhancement, front

#110 Results for a specific run
  DashAI/front/src/App.jsx
  DashAI/front/src/api/run.ts
  DashAI/front/src/components/results/ExperimentsDrawer.jsx
  DashAI/front/src/components/results/ParameterListItem.jsx
  DashAI/front/src/components/results/RunInfoTab.jsx
  DashAI/front/src/components/results/RunMetricsTab.jsx
  DashAI/front/src/components/results/RunParametersTab.jsx
  DashAI/front/src/components/results/RunResults.jsx
  DashAI/front/src/components/results/RunsTable.jsx
  DashAI/front/src/tabs/Results.jsx
Labels: enhancement, front

#94 Update fit and predict input
  DashAI/back/core/runner.py
  DashAI/back/metrics/classification/accuracy.py
  DashAI/back/metrics/classification/f1.py
  DashAI/back/metrics/classification/precision.py
  DashAI/back/metrics/classification/recall.py
  DashAI/back/metrics/classification_metric.py
  DashAI/back/models/hugging_face/distilbert_transformer.py
  DashAI/back/models/scikit_learn/sklearn_like_model.py
  tests/back/api/test_runner.py
  tests/back/metrics/test_classification_metrics.py
  tests/back/models/test_tabular_class_models.py
  tests/back/models/test_text_class_models.py
Labels: back, urgent

#111 Reorder files & delete unused components
  DashAI/front/src/App.jsx
  DashAI/front/src/components/DataloaderModal.jsx
  DashAI/front/src/components/Error.jsx
  DashAI/front/src/components/ModelsTable.jsx
  DashAI/front/src/components/ResponsiveAppBar.jsx
  DashAI/front/src/components/custom/DeleteItemModal.jsx
  DashAI/front/src/components/datasets/ConfigureAndUploadDataset.jsx
  DashAI/front/src/components/datasets/DatasetsTable.jsx
  DashAI/front/src/components/datasets/DeleteDatasetDialog.jsx
  DashAI/front/src/components/datasets/EditDatasetModal.jsx
  DashAI/front/src/components/datasets/Upload.jsx
  DashAI/front/src/pages/DatasetsPage.jsx
  DashAI/front/src/pages/ResultsPage.jsx
  DashAI/front/src/tabs/Experiment.jsx
Labels: front, refactor

#114 Experiment Modal improvement
  DashAI/front/src/components/experiments/ConfigureModelsStep.jsx
  DashAI/front/src/components/experiments/EditModelDialog.jsx
  DashAI/front/src/components/experiments/ModelsTable.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
Labels: bug, front, refactor

#117 Snackbar refactor
  DashAI/front/src/components/datasets/ConfigureAndUploadDataset.jsx
  DashAI/front/src/components/datasets/DatasetModal.jsx
  DashAI/front/src/components/datasets/DatasetsTable.jsx
  DashAI/front/src/components/datasets/EditDatasetModal.jsx
  DashAI/front/src/components/datasets/SelectDataloaderStep.jsx
  DashAI/front/src/components/datasets/SelectTaskStep.jsx
  DashAI/front/src/components/experiments/ConfigureModelsStep.jsx
  DashAI/front/src/components/experiments/EditModelDialog.jsx
  DashAI/front/src/components/experiments/ExperimentsTable.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
  DashAI/front/src/components/experiments/RunnerDialog.jsx
  DashAI/front/src/components/experiments/SelectDatasetStep.jsx
  DashAI/front/src/components/experiments/SetNameAndTaskStep.jsx
  DashAI/front/src/components/results/ExperimentsDrawer.jsx
  DashAI/front/src/components/results/RunResults.jsx
  DashAI/front/src/components/results/RunsTable.jsx
  DashAI/front/src/index.jsx
Labels: front, refactor

#124 More classifiers
  DashAI/back/core/config.py
  DashAI/back/models/__init__.py
  DashAI/back/models/parameters/models_schemas/DecisionTreeClassifier.json
  DashAI/back/models/parameters/models_schemas/DummyClassifier.json
  DashAI/back/models/parameters/models_schemas/HistGradientBoostingClassifier.json
  DashAI/back/models/parameters/models_schemas/LogisticRegression.json
  DashAI/back/models/parameters/models_schemas/SVC.json
  DashAI/back/models/scikit_learn/decision_tree_classifier.py
  DashAI/back/models/scikit_learn/dummy_classifier.py
  DashAI/back/models/scikit_learn/hist_gradient_boosting_classifier.py
  DashAI/back/models/scikit_learn/logistic_regression.py
Labels: enhancement

#125 Feat/pypi setup
  DashAI/back/core/config.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/models/base_model.py
  MANIFEST.in
  setup.py
Labels: back, urgent

#116 Minor frontend fixes
  DashAI/front/src/api/datasets.ts
  DashAI/front/src/components/ConfigurableObject/Inputs/ClassInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/TextInput.jsx
  DashAI/front/src/components/ConfigurableObject/ParameterForm.jsx
  DashAI/front/src/components/custom/ItemSelector.jsx
  DashAI/front/src/components/custom/ItemSelectorWithInfo.jsx
  DashAI/front/src/components/datasets/ConfigureAndUploadDataset.jsx
  DashAI/front/src/components/datasets/DatasetsTable.jsx
  DashAI/front/src/components/datasets/DeleteDatasetDialog.jsx
  DashAI/front/src/components/datasets/EditDatasetModal.jsx
  DashAI/front/src/components/datasets/SelectDataloaderStep.jsx
  DashAI/front/src/components/datasets/SelectTaskStep.jsx
  DashAI/front/src/components/experiments/ConfigureModelsStep.jsx
  DashAI/front/src/components/experiments/DeleteModelDialog.jsx
  DashAI/front/src/components/experiments/EditModelDialog.jsx
  DashAI/front/src/components/experiments/ExperimentsTable.jsx
  DashAI/front/src/components/experiments/ModelsTable.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
  DashAI/front/src/components/experiments/RunnerDialog.jsx
  DashAI/front/src/components/experiments/SelectDatasetStep.jsx
  DashAI/front/src/components/experiments/SetNameAndTaskStep.jsx
  DashAI/front/src/components/results/ExperimentsList.jsx
  DashAI/front/src/components/results/RunResults.jsx
  DashAI/front/src/components/results/RunsTable.jsx
  DashAI/front/src/pages/ResultsPage.jsx
Labels: front, refactor, urgent

#103 Back/update imagedataloader
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/dataloaders/classes/csv_dataloader.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/dataloaders/classes/image_dataloader.py
  DashAI/back/dataloaders/classes/json_dataloader.py
  requirements.txt
  tests/back/dataloaders/beans_dataset_small.zip
  tests/back/dataloaders/iris_csv.zip
  tests/back/dataloaders/test_dataloaders.py
Labels: back

#126 Frontend fixes for demo
  DashAI/front/src/components/ConfigurableObject/SplitsParams.jsx
  DashAI/front/src/components/datasets/DatasetModal.jsx
  DashAI/front/src/components/experiments/RunnerDialog.jsx
  DashAI/front/src/components/results/RunsTable.jsx
Labels: front, refactor, urgent

#132 Improvements in results page
  DashAI/front/src/components/datasets/DatasetsTable.jsx
  DashAI/front/src/components/experiments/ExperimentsTable.jsx
  DashAI/front/src/components/results/RunMetricsTab.jsx
  DashAI/front/src/components/results/RunsTable.jsx
  DashAI/front/src/utils/index.js
Labels: front, urgent

#135 Fix/documentation generation
  .github/workflows/docs.yaml
  .pre-commit-config.yaml
  README.rst
  docs/source/_static/favicon.ico
  docs/source/_static/logo.png
  docs/source/api/back.rst
  docs/source/api/generated/DashAI.back.TaskLib.task.taskMain.Task.get_compatible_models.rst
  docs/source/api/generated/DashAI.back.TaskLib.task.taskMain.Task.rst
  docs/source/api/generated/DashAI.back.TaskLib.task.taskMain.Task.set_executions.rst
  docs/source/api/generated/DashAI.back.models.base_model.rst
  docs/source/api/generated/DashAI.back.models.image_classification_model.rst
  docs/source/api/generated/DashAI.back.models.tabular_classification_model.rst
  docs/source/api/generated/DashAI.back.models.text_classification_model.rst
  docs/source/api/generated/DashAI.back.models.translation_model.rst
  docs/source/conf.py
  docs/source/getting_started/about.rst
  docs/source/getting_started/huggingface.png
  docs/source/getting_started/keras.png
  docs/source/getting_started/logos.png
  docs/source/getting_started/models1.png
  docs/source/getting_started/models2.png
  docs/source/getting_started/models3.png
  docs/source/getting_started/pytorch.png
  docs/source/getting_started/quick_start.rst
  docs/source/getting_started/scikit.png
  docs/source/getting_started/tf.png
  docs/source/getting_started/user_guide.rst
  docs/source/index.rst
  logos.png
Labels: documentation

#134 Bug fixes in experiment modal
  DashAI/front/src/components/experiments/ConfigureModelsStep.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
Labels: bug, front, urgent

#92 Save dataset sample in dataset table
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/database/models.py
  tests/back/api/iris_no_header_names.csv
  tests/back/api/test_datasets.py
  tests/back/api/test_experiments.py
  tests/back/api/test_runs.py
Labels: back, blocked

#108 Added sample method to DashAIDataset
  DashAI/back/dataloaders/classes/dashai_dataset.py
  tests/back/dataloaders/test_dashai_dataset.py
Labels: back, blocked

#137 Fixes for running DistilBERT
  DashAI/front/src/components/experiments/RunnerDialog.jsx
  DashAI/front/src/components/experiments/SelectDatasetStep.jsx
  DashAI/front/src/components/results/RunMetricsTab.jsx
  DashAI/front/src/components/results/RunResults.jsx
Labels: bug, front, urgent
