Repository DashAISoftware/DashAI, pull requests merged in 2023-09, with the labels that each got.

#148 Front/fixes
  DashAI/front/src/components/configurableObject/FormRenderer.jsx
  DashAI/front/src/components/configurableObject/FormTooltip.jsx
  DashAI/front/src/components/configurableObject/Inputs/BooleanInput.jsx
  DashAI/front/src/components/configurableObject/Inputs/ClassInput.jsx
  DashAI/front/src/components/configurableObject/Inputs/FormInputWrapper.jsx
  DashAI/front/src/components/configurableObject/Inputs/InputStyles.jsx
  DashAI/front/src/components/configurableObject/Inputs/IntegerInput.jsx
  DashAI/front/src/components/configurableObject/Inputs/NumberInput.jsx
  DashAI/front/src/components/configurableObject/Inputs/SelectInput.jsx
  DashAI/front/src/components/configurableObject/Inputs/TextInput.jsx
  DashAI/front/src/components/configurableObject/MainForm.jsx
  DashAI/front/src/components/configurableObject/ParameterForm.jsx
  DashAI/front/src/components/configurableObject/SplitsParams.jsx
  DashAI/front/src/components/configurableObject/Subform.jsx
  DashAI/front/src/components/datasets/ConfigureAndUploadDataset.jsx
  DashAI/front/src/components/datasets/DataloaderConfiguration.jsx
  DashAI/front/src/components/datasets/DatasetModal.jsx
  DashAI/front/src/components/datasets/DatasetsTable.jsx
  DashAI/front/src/components/experiments/ConfigureModelsStep.jsx
  DashAI/front/src/components/experiments/EditModelDialog.jsx
  DashAI/front/src/components/experiments/ExperimentsTable.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
  DashAI/front/src/components/experiments/RunnerDialog.jsx
  DashAI/front/src/pages/ExperimentPage.jsx
Labels: bug, front, refactor

#115 Job Queue
  DashAI/back/api/api_v1/api.py
  DashAI/back/api/api_v1/endpoints/experiments.py
  DashAI/back/api/api_v1/endpoints/jobs.py
  DashAI/back/api/api_v1/endpoints/runner.py
  DashAI/back/api/api_v1/schemas/job_params.py
  DashAI/back/core/config.py
  DashAI/back/core/exceptions/job_exceptions.py
  DashAI/back/core/job_queue.py
  DashAI/back/core/runner.py
  DashAI/back/core/schemas/job_model.py
  DashAI/back/job_queues/__init__.py
  DashAI/back/job_queues/base_job_queue.py
  DashAI/back/job_queues/simple_job_queue.py
  requirements-dev.txt
  tests/back/api/test_jobs.py
  tests/back/job_queue/test_simple_job_queue.py
Labels: back, urgent, blocked

#149 Dataloaders and dataset general refactor
  DashAI/back/api/api_v1/endpoints/components.py
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/dataloaders/classes/audio_dataloader.py
  DashAI/back/dataloaders/classes/csv_dataloader.py
  DashAI/back/dataloaders/classes/dashai_dataset.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/dataloaders/classes/image_dataloader.py
  DashAI/back/dataloaders/classes/json_dataloader.py
  DashAI/back/dataloaders/classes/tabular_dataloader.py
  DashAI/back/metrics/classification_metric.py
  DashAI/back/metrics/translation_metric.py
  tests/back/api/test_dataset_api.py
  tests/back/api/test_experiments_api.py
  tests/back/api/test_runner_api.py
  tests/back/api/test_runs_api.py
  tests/back/dataloaders/test_dashai_dataset.py
  tests/back/dataloaders/test_dataloaders.py
  tests/back/metrics/test_classification_metrics.py
  tests/back/metrics/test_translation_metrics.py
  tests/back/models/test_tabular_class_models.py
  tests/back/tasks/test_tasks.py
Labels: documentation, back, refactor, urgent

#152 Front - job queue changes
  DashAI/front/src/api/job.ts
  DashAI/front/src/components/experiments/RunnerDialog.jsx
Labels: bug, front, refactor

#155 Delete deprecated test set
  tests/back/api/test_runner_api.py
Labels: bug, urgent
