Repository DashAISoftware/DashAI, pull requests merged in 2023-08, with the labels that each got.

#140 pydantic post endpoints - frontend changes
  .gitignore
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/api/api_v1/endpoints/experiments.py
  DashAI/back/api/api_v1/endpoints/runner.py
  DashAI/back/api/api_v1/endpoints/runs.py
  DashAI/back/api/api_v1/schemas/datasets_params.py
  DashAI/back/api/api_v1/schemas/experiments_params.py
  DashAI/back/api/api_v1/schemas/runner_params.py
  DashAI/back/api/api_v1/schemas/runs_params.py
  DashAI/back/api/utils.py
  DashAI/back/dataloaders/classes/dataloader_params.py
  DashAI/front/src/api/experiment.ts
  DashAI/front/src/api/run.ts
  DashAI/front/src/api/runner.ts
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
  tests/back/api/test_experiments.py
  tests/back/api/test_runner.py
  tests/back/api/test_runs.py
Labels: front, refactor

#142 Accept null values in parameter form
  DashAI/back/dataloaders/dataloaders_schemas/splits_settings.json
  DashAI/back/dataloaders/dataloaders_schemas/tabular_datasets.json
  DashAI/back/dataloaders/params_schemas/csvdataloader.json
  DashAI/back/dataloaders/params_schemas/jsondataloader.json
  DashAI/back/models/parameters/models_schemas/DecisionTreeClassifier.json
  DashAI/back/models/parameters/models_schemas/HistGradientBoostingClassifier.json
  DashAI/back/models/parameters/models_schemas/LogisticRegression.json
  DashAI/back/models/parameters/models_schemas/RandomForestClassifier.json
  DashAI/front/src/components/ConfigurableObject/FormRenderer.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/BooleanInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/FloatInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/IntegerInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/NumberInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/SelectInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/TextInput.jsx
  DashAI/front/src/utils/paramFormValidation.js
Labels: bug, front, urgent

#143 Small fix on the results page
  DashAI/front/src/components/results/RunResults.jsx
Labels: bug, front, urgent

#127 Code Quality Patches
  DashAI/back/api/api_v1/endpoints/components.py
  DashAI/back/api/api_v1/endpoints/experiments.py
  DashAI/back/api/deps.py
  DashAI/back/database/models.py
  DashAI/back/dataloaders/classes/audio_dataloader.py
  DashAI/back/dataloaders/classes/csv_dataloader.py
  DashAI/back/dataloaders/classes/dashai_dataset.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/dataloaders/classes/image_dataloader.py
  DashAI/back/dataloaders/classes/json_dataloader.py
  DashAI/back/example_datasets/update_datasets.py
  DashAI/back/metrics/base_metric.py
  DashAI/back/metrics/classification/accuracy.py
  DashAI/back/metrics/classification/f1.py
  DashAI/back/metrics/classification/precision.py
  DashAI/back/metrics/classification/recall.py
  DashAI/back/metrics/classification_metric.py
  DashAI/back/metrics/translation/bleu.py
  DashAI/back/metrics/translation/ter.py
  DashAI/back/metrics/translation_metric.py
  DashAI/back/models/base_model.py
  DashAI/back/models/classes/getters.py
  DashAI/back/models/hugging_face/distilbert_transformer.py
  DashAI/back/models/hugging_face/opus_mt_en_es_transformer.py
  DashAI/back/models/hugging_face/vit_transformer.py
  DashAI/back/models/scikit_learn/decision_tree_classifier.py
  DashAI/back/models/scikit_learn/dummy_classifier.py
  DashAI/back/models/scikit_learn/hist_gradient_boosting_classifier.py
  DashAI/back/models/scikit_learn/k_neighbors_classifier.py
  DashAI/back/models/scikit_learn/logistic_regression.py
  DashAI/back/models/scikit_learn/random_forest_classifier.py
  DashAI/back/models/scikit_learn/sklearn_like_model.py
  DashAI/back/models/scikit_learn/svc.py
  DashAI/back/registries/component_registry.py
  DashAI/back/registries/relationship_manager.py
  DashAI/back/tasks/base_task.py
  DashAI/back/tasks/tabular_classification_task.py
  DashAI/back/tasks/text_classification_task.py
  DashAI/back/tasks/translation_task.py
  pyproject.toml
  requirements-dev.txt
  tests/back/models/test_tabular_class_models.py
Labels: documentation, refactor, chore

#150 Remove type "list_of_strings"
  DashAI/back/dataloaders/params_schemas/csvdataloader.json
  DashAI/back/dataloaders/params_schemas/jsondataloader.json
  DashAI/front/src/components/ConfigurableObject/FormRenderer.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/ListOfStringsInput.jsx
Labels: bug, front
