Repository DashAISoftware/DashAI, pull requests merged in 2023-06, with the labels that each got.

#68 Experiment modal - last step
  DashAI/front/src/api/experiment.ts
  DashAI/front/src/components/ConfigurableObject/Inputs/ClassInput.jsx
  DashAI/front/src/components/ConfigurableObject/ParameterForm.jsx
  DashAI/front/src/components/experiments/ConfigureModelsStep.jsx
  DashAI/front/src/components/experiments/DeleteModelDialog.jsx
  DashAI/front/src/components/experiments/EditModelDialog.jsx
  DashAI/front/src/components/experiments/ModelsTable.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
  DashAI/front/src/components/experiments/SelectDatasetStep.jsx
Labels: enhancement, front

#75 Modify ItemsList.jsx to make it more reusable
  DashAI/front/src/components/custom/ItemSelector.jsx
  DashAI/front/src/components/custom/ItemSelectorWithInfo.jsx
  DashAI/front/src/components/datasets/DatasetModal.jsx
  DashAI/front/src/components/datasets/ItemsList.jsx
  DashAI/front/src/components/datasets/SelectDataloaderStep.jsx
  DashAI/front/src/components/datasets/SelectTaskStep.jsx
  DashAI/front/src/components/experiments/SetNameAndTaskStep.jsx
Labels: enhancement, front, refactor

#80 Registries V2
  DashAI/back/api/api_v1/endpoints/components.py
  DashAI/back/core/config.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/dataloaders/classes/tabular_dataloader.py
  DashAI/back/models/base_model.py
  DashAI/back/models/scikit_learn/k_neighbors_classifier.py
  DashAI/back/models/scikit_learn/random_forest_classifier.py
  DashAI/back/models/scikit_learn/svc.py
  DashAI/back/models/tabular_classification_model.py
  DashAI/back/models/text_classification_model.py
  DashAI/back/registries/__init__.py
  DashAI/back/registries/base_registry.py
  DashAI/back/registries/component_registry.py
  DashAI/back/registries/dataloader_registry.py
  DashAI/back/registries/model_registry.py
  DashAI/back/registries/register_mixins.py
  DashAI/back/registries/relationship_manager.py
  DashAI/back/registries/task_registry.py
  DashAI/back/tasks/base_task.py
  DashAI/back/tasks/tabular_classification_task.py
  DashAI/back/tasks/text_classification_task.py
  DashAI/back/tasks/translation_task.py
  requirements.txt
  tests/back/api/test_components.py
  tests/back/api/test_components_api.py
  tests/back/registries/conftest.py
  tests/back/registries/test_base_registry.py
  tests/back/registries/test_mapping_mixin.py
  tests/back/registries/test_model_registry.py
  tests/back/registries/test_registry.py
  tests/back/registries/test_relationship_manager.py
  tests/back/registries/test_task_registry.py
Labels: bug, enhancement, back, refactor, urgent

#85 Fix: Add inital tasks to registry
  DashAI/back/core/config.py
Labels: back

#70 Improve backend code quality
  DashAI/back/api/api_v0/endpoints/old_endpoints.py
  DashAI/back/api/api_v0/endpoints/session_class.py
  DashAI/back/api/api_v1/endpoints/components.py
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/api/api_v1/endpoints/experiments.py
  DashAI/back/api/api_v1/endpoints/runs.py
  DashAI/back/api/deps.py
  DashAI/back/config_object.py
  DashAI/back/database/models.py
  DashAI/back/dataloaders/classes/audio_dataloader.py
  DashAI/back/dataloaders/classes/csv_dataloader.py
  DashAI/back/dataloaders/classes/dashai_dataset.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/dataloaders/classes/dataloader_params.py
  DashAI/back/dataloaders/classes/dataset_dashai.py
  DashAI/back/dataloaders/classes/image_dataloader.py
  DashAI/back/dataloaders/classes/json_dataloader.py
  DashAI/back/dataloaders/classes/tabular_dataloader.py
  DashAI/back/example_datasets/update_datasets.py
  DashAI/back/main.py
  DashAI/back/models/base_model.py
  DashAI/back/models/classes/getters.py
  DashAI/back/models/classes/numerical_wrapper_for_text.py
  DashAI/back/models/classes/tc_transformer_eng_spa.py
  DashAI/back/models/scikit_learn/k_neighbors_classifier.py
  DashAI/back/models/scikit_learn/random_forest_classifier.py
  DashAI/back/models/scikit_learn/sklearn_like_model.py
  DashAI/back/models/scikit_learn/svc.py
  DashAI/back/models/tabular_classification_model.py
  DashAI/back/models/text_classification_model.py
  DashAI/back/models/translation_model.py
  DashAI/back/registries/component_registry.py
  DashAI/back/registries/relationship_manager.py
  DashAI/back/tasks/base_task.py
  DashAI/back/tasks/tabular_classification_task.py
  DashAI/back/tasks/text_classification_task.py
  DashAI/back/tasks/translation_task.py
  pyproject.toml
  setup.py
  tests/back/api/test_datasets.py
  tests/back/conftest.py
  tests/back/dataloaders/test_dashai_dataset.py
  tests/back/dataloaders/test_dataloaders.py
  tests/back/models/test_tabular_class_models.py
  tests/test_sample.py
Labels: bug, back, refactor, chore, urgent

#81 Remove craco
  DashAI/front/craco.config.js
  DashAI/front/package.json
  DashAI/front/yarn.lock
Labels: front, refactor

#76 Edit dataset
  DashAI/front/src/api/datasets.ts
  DashAI/front/src/components/DatasetsTable.jsx
  DashAI/front/src/components/EditDatasetModal.jsx
  DashAI/front/src/components/custom/ItemSelector.jsx
  DashAI/front/src/components/custom/ItemSelectorWithInfo.jsx
  DashAI/front/src/tabs/Data.jsx
Labels: enhancement, front

#86 Upload refactor
  DashAI/front/sample-db.json
  DashAI/front/sample-routes.json
  DashAI/front/src/components/Upload.jsx
  DashAI/front/src/components/datasets/ConfigureAndUploadDataset.jsx
Labels: enhancement, front, refactor

#89 Use new components endpoint in frontend
  DashAI/front/src/api/component.ts
  DashAI/front/src/components/ConfigurableObject/Inputs/ClassInput.jsx
  DashAI/front/src/components/EditDatasetModal.jsx
  DashAI/front/src/components/custom/ItemSelector.jsx
  DashAI/front/src/components/datasets/ConfigureAndUploadDataset.jsx
  DashAI/front/src/components/datasets/SelectDataloaderStep.jsx
  DashAI/front/src/components/datasets/SelectTaskStep.jsx
  DashAI/front/src/components/experiments/ConfigureModelsStep.jsx
  DashAI/front/src/components/experiments/SetNameAndTaskStep.jsx
  DashAI/front/src/utils/values.jsx
Labels: front, urgent

#88 Fix tasks get_schema
  DashAI/back/tasks/base_task.py
  DashAI/back/tasks/tabular_classification_task.py
  DashAI/back/tasks/tasks_schemas/TabularClassificationTask.json
  DashAI/back/tasks/tasks_schemas/TextClassificationTask.json
  DashAI/back/tasks/tasks_schemas/TranslationTask.json
  DashAI/back/tasks/text_classification_task.py
  DashAI/back/tasks/translation_task.py
Labels: back, refactor

#84 Activate ruff in pre-commit
  .pre-commit-config.yaml
Labels: back, chore, blocked

#99 Fixed ruff pre-commit errors
  DashAI/back/api/api_v1/endpoints/runner.py
  tests/back/api/test_runner.py
  tests/back/dataloaders/test_dashai_dataset.py
  tests/back/dataloaders/test_dataloaders.py
  tests/back/metrics/test_classification_metrics.py
  tests/back/models/test_tabular_class_models.py
Labels: back, chore, urgent

#82 Translate the JSON schema of each model into English.
  DashAI/back/models/parameters/models_schemas/KNeighborsClassifier.json
  DashAI/back/models/parameters/models_schemas/RandomForestClassifier.json
  DashAI/back/models/parameters/models_schemas/SVC.json
  DashAI/back/models/parameters/models_schemas/numericalwrapperfortext.json
  DashAI/back/models/parameters/models_schemas/tcTransformerEngSpa.json
Labels: back, refactor

#74 Move getFullDefaultValues function to /api folder
  DashAI/front/src/api/component.ts
  DashAI/front/src/api/oldEndpoints.ts
  DashAI/front/src/api/values.ts
  DashAI/front/src/components/ConfigurableObject/ParameterForm.jsx
  DashAI/front/src/components/experiments/ConfigureModelsStep.jsx
  DashAI/front/src/types/component.ts
  DashAI/front/src/types/configurableObject.ts
  DashAI/front/src/utils/values.jsx
Labels: front, refactor, blocked

#91 Asynchronous Runner
  DashAI/back/api/api_v1/endpoints/runner.py
  DashAI/back/core/enums/status.py
  DashAI/back/core/runner.py
  DashAI/back/database/models.py
  tests/back/api/test_runner.py
Labels: enhancement, back, refactor, urgent

#101 Fix: dataloaders info is not displayed
  DashAI/front/src/components/custom/ItemSelectorWithInfo.jsx
Labels: front, urgent

#102 Fix separator in csvDataloader
  DashAI/back/dataloaders/params_schemas/csvdataloader.json
  DashAI/front/src/components/ConfigurableObject/FormRenderer.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/SelectInput.jsx
Labels: bug, front, urgent

#79 Initial view of results tab
  DashAI/front/src/App.jsx
  DashAI/front/src/api/experiment.ts
  DashAI/front/src/api/run.ts
  DashAI/front/src/components/ExperimentsDrawer.jsx
  DashAI/front/src/components/RunsTable.jsx
  DashAI/front/src/components/custom/ItemSelector.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
  DashAI/front/src/tabs/Results.jsx
Labels: enhancement, front, urgent, blocked

#96 Use of run endpoint
  DashAI/front/src/api/experiment.ts
  DashAI/front/src/api/run.ts
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
Labels: enhancement, front, urgent

#104 Fix upload JSON dataset
  DashAI/back/dataloaders/params_schemas/csvdataloader.json
  DashAI/back/dataloaders/params_schemas/jsondataloader.json
Labels: bug, front

#100 Execute runs
  DashAI/front/package.json
  DashAI/front/src/api/runner.ts
  DashAI/front/src/components/experiments/EditModelDialog.jsx
  DashAI/front/src/components/experiments/ExperimentsTable.jsx
  DashAI/front/src/components/experiments/RunnerDialog.jsx
  DashAI/front/src/utils/runStatus.js
  DashAI/front/yarn.lock
Labels: enhancement, front, urgent
