Repository DashAISoftware/DashAI, pull requests merged in 2023-12, with the labels that each got.

#159 Prepare Dataset View
  DashAI/__main__.py
  DashAI/back/api/api_v1/api.py
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/api/api_v1/endpoints/predict.py
  DashAI/back/api/api_v1/schemas/predict_params.py
  DashAI/back/converters/__init__.py
  DashAI/back/converters/base_converter.py
  DashAI/back/converters/column_dropper_by_index.py
  DashAI/back/converters/column_dropper_by_name.py
  DashAI/back/core/exceptions/__init__.py
  DashAI/back/dataloaders/classes/dashai_dataset.py
  DashAI/front/src/api/datasets.ts
  DashAI/front/src/api/experiment.ts
  DashAI/front/src/components/datasets/ConfigureAndUploadDataset.jsx
  DashAI/front/src/components/datasets/DatasetModal.jsx
  DashAI/front/src/components/datasets/SelectDataloaderStep.jsx
  DashAI/front/src/components/experiments/ConfigureModelsStep.jsx
  DashAI/front/src/components/experiments/DivideDatasetColumns.jsx
  DashAI/front/src/components/experiments/ModelsTable.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
  DashAI/front/src/components/experiments/PrepareDatasetStep.jsx
  DashAI/front/src/components/experiments/SelectDatasetStep.jsx
  DashAI/front/src/components/experiments/SetNameAndTaskStep.jsx
  DashAI/front/src/components/experiments/SplitDatasetRows.jsx
  DashAI/front/src/types/dataset.ts
  DashAI/front/src/types/experiment.ts
  README.rst
  requirements-dev.txt
  requirements.txt
  tests/back/api/input_iris.json
  tests/back/api/irisDataset.json
  tests/back/api/test_predict.py
  tests/back/converters/iris.csv
  tests/back/converters/iris_petal_cols_dropped.csv
  tests/back/converters/iris_petal_width_dropped.csv
  tests/back/converters/test_drop_column_converters.py
Labels: front

#161 Dataset Summary Step
  .github/workflows/build-test.yaml
  .github/workflows/docs.yaml
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/api/api_v1/schemas/datasets_params.py
  DashAI/back/converters/column_dropper_by_index.py
  DashAI/back/converters/column_dropper_by_name.py
  DashAI/back/dataloaders/classes/dashai_dataset.py
  DashAI/back/main.py
  DashAI/front/.env.development
  DashAI/front/src/api/datasets.ts
  DashAI/front/src/components/custom/SelectTypeCell.jsx
  DashAI/front/src/components/datasets/DataloaderConfiguration.jsx
  DashAI/front/src/components/datasets/DatasetModal.jsx
  DashAI/front/src/components/datasets/DatasetSummaryStep.jsx
  DashAI/front/src/components/datasets/EditDatasetModal.jsx
  DashAI/front/src/components/datasets/SelectDataloaderStep.jsx
  DashAI/front/src/components/datasets/SelectTaskStep.jsx
  DashAI/front/src/components/experiments/DivideDatasetColumns.jsx
  DashAI/front/src/components/experiments/PrepareDatasetStep.jsx
  DashAI/front/src/components/experiments/SplitDatasetRows.jsx
  DashAI/front/src/utils/parseRange.js
  DashAI/front/src/utils/typesLists.js
  README.rst
  docs/source/getting_started/user_guide.rst
  tests/back/api/test_dataset_api.py
  tests/back/dataloaders/iris_species_twice.csv
  tests/back/dataloaders/test_dashai_dataset.py
Labels: front, back

#162 Added Abstract Job Class. Fixed job tests to pass with the new implementation
  DashAI/back/api/api_v1/endpoints/jobs.py
  DashAI/back/api/api_v1/schemas/job_params.py
  DashAI/back/core/config.py
  DashAI/back/core/exceptions/job_exceptions.py
  DashAI/back/core/job_queue.py
  DashAI/back/core/runner.py
  DashAI/back/core/schemas/job_model.py
  DashAI/back/job/__init__.py
  DashAI/back/job/base_job.py
  DashAI/back/job/model_job.py
  DashAI/back/job_queues/__init__.py
  DashAI/back/job_queues/base_job_queue.py
  DashAI/back/job_queues/simple_job_queue.py
  DashAI/front/src/api/job.ts
  DashAI/front/src/api/runner.ts
  tests/back/api/test_jobs.py
  tests/back/api/test_predict.py
  tests/back/job_queue/test_simple_job_queue.py
Labels: back, refactor

#165 Back/task metadata
  DashAI/back/registries/component_registry.py
  DashAI/back/tasks/base_task.py
  DashAI/back/tasks/image_classification_task.py
  DashAI/back/tasks/tabular_classification_task.py
  DashAI/back/tasks/text_classification_task.py
  DashAI/back/tasks/translation_task.py
  DashAI/front/src/types/component.ts
  DashAI/front/src/types/task.ts
  tests/back/api/test_components_api.py
  tests/back/registries/test_registry.py
  tests/back/tasks/test_tasks.py
Labels: back
