Repository DashAISoftware/DashAI, pull requests merged in 2023-04, with the labels that each got.

#34 Improve Frontend development infra
  .github/workflows/build-test.yaml
  CHANGELOG.rst
  DashAI/front/.editorconfig
  DashAI/front/.eslintrc.js
  DashAI/front/.gitattributes
  DashAI/front/.gitignore
  DashAI/front/.prettierignore
  DashAI/front/.prettierrc.json
  DashAI/front/.yarn/releases/yarn-3.5.0.cjs
  DashAI/front/.yarnrc.yml
  DashAI/front/package-lock.json
  DashAI/front/package.json
  DashAI/front/src/App.jsx
  DashAI/front/src/App.test.jsx
  DashAI/front/src/components/AddModels.jsx
  DashAI/front/src/components/Error.jsx
  DashAI/front/src/components/ExperimentsTable.jsx
  DashAI/front/src/components/ModelsTable.jsx
  DashAI/front/src/components/Navbar.jsx
  DashAI/front/src/components/ParameterForm.jsx
  DashAI/front/src/components/PlayCard.jsx
  DashAI/front/src/components/ResultsCard.jsx
  DashAI/front/src/components/SchemaList.jsx
  DashAI/front/src/components/Upload.jsx
  DashAI/front/src/index.css
  DashAI/front/src/index.jsx
  DashAI/front/src/layouts/ExperimentPipeline.jsx
  DashAI/front/src/layouts/Main.jsx
  DashAI/front/src/reportWebVitals.js
  DashAI/front/src/routes/MainRoutes.jsx
  DashAI/front/src/setupTests.js
  DashAI/front/src/styles/components/DatasetConfigStyles.jsx
  DashAI/front/src/styles/components/ExperimentsTableStyles.jsx
  DashAI/front/src/styles/components/ModelsTableStyles.jsx
  DashAI/front/src/styles/components/NavbarStyles.jsx
  DashAI/front/src/styles/components/ParameterFormStyles.jsx
  DashAI/front/src/styles/components/PlayStyles.jsx
  DashAI/front/src/styles/components/ResultsStyles.jsx
  DashAI/front/src/styles/components/SchemaListStyles.jsx
  DashAI/front/src/styles/components/UploadStyles.jsx
  DashAI/front/src/styles/globalComponents.js
  DashAI/front/src/styles/globalStyles.js
  DashAI/front/src/styles/muiGlobalStyles.js
  DashAI/front/src/styles/theme.js
  DashAI/front/src/tabs/Data.jsx
  DashAI/front/src/tabs/Experiment.jsx
  DashAI/front/src/tabs/Home.jsx
  DashAI/front/src/tabs/Play.jsx
  DashAI/front/src/tabs/Results.jsx
  DashAI/front/src/utils/values.jsx
  DashAI/front/yarn.lock
  README.rst
Labels: bug, documentation, enhancement, front

#37 Separate experiment API from experiment table.
  CHANGELOG.rst
  DashAI/front/.eslintrc.js
  DashAI/front/craco.config.js
  DashAI/front/package.json
  DashAI/front/src/api/api.ts
  DashAI/front/src/api/experiment.ts
  DashAI/front/src/components/ExperimentsTable.jsx
  DashAI/front/src/index.jsx
  DashAI/front/tsconfig.json
  DashAI/front/types/dataset.ts
  DashAI/front/types/experiment.ts
  DashAI/front/types/run.ts
  DashAI/front/yarn.lock
Labels: enhancement, front

#41 Experiment endpoints
  DashAI/back/api/api_v1/api.py
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/api/api_v1/endpoints/experiments.py
  DashAI/back/database/models.py
  tests/back/api/test_datasets.py
  tests/back/api/test_experiments.py
  tests/back/conftest.py
Labels: enhancement, back

#42 Added production and development envs and json-server
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/api/api_v1/endpoints/experiments.py
  DashAI/back/database/models.py
  DashAI/front/.env
  DashAI/front/.env.development
  DashAI/front/.env.production
  DashAI/front/package.json
  DashAI/front/sample-db.json
  DashAI/front/sample-routes.json
  DashAI/front/src/App.jsx
  DashAI/front/src/api/api.ts
  DashAI/front/src/api/experiment.ts
  DashAI/front/src/components/ExperimentsTable.jsx
  DashAI/front/src/index.jsx
  DashAI/front/src/styles/theme.js
  DashAI/front/src/utils/index.js
  DashAI/front/yarn.lock
  README.rst
  tests/back/api/test_experiments.py
Labels: enhancement, front

#38 Datasets table and Material-UI modals
  DashAI/back/dataloaders/params_schemas/csvdataloader.json
  DashAI/front/src/components/DatasetsTable.jsx
  DashAI/front/src/components/DeleteDatasetDialog.jsx
  DashAI/front/src/components/EditDatasetModal.jsx
  DashAI/front/src/components/ParameterForm.jsx
  DashAI/front/src/components/SchemaList.jsx
  DashAI/front/src/components/Upload.jsx
  DashAI/front/src/styles/components/SchemaListStyles.jsx
  DashAI/front/src/tabs/Data.jsx
  DashAI/front/src/tabs/Home.jsx
Labels: enhancement, front
