Repository DashAISoftware/DashAI, pull requests merged in 2023-05, with the labels that each got.

#47 Update app navegation
  DashAI/front/src/App.jsx
Labels: enhancement, front

#49 Fix: Move types to DashAI/front/src/types
  DashAI/front/src/api/experiment.ts
  DashAI/front/src/types/dataset.ts
  DashAI/front/src/types/experiment.ts
  DashAI/front/src/types/run.ts
Labels: bug, front

#44 Dataloaders endpoint
  DashAI/back/api/api_v1/api.py
  DashAI/back/api/api_v1/endpoints/dataloaders.py
  DashAI/back/core/config.py
  DashAI/back/dataloaders/__init__.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/dataloaders/classes/tabular_dataloader.py
  DashAI/back/dataloaders/description_schemas/CSVDataLoader.json
  DashAI/back/dataloaders/description_schemas/JSONDataLoader.json
  DashAI/back/registries/__init__.py
  DashAI/back/registries/dataloader_registry.py
  DashAI/back/tasks/tasks_schemas/tasks.json
  tests/back/api/test_dataloaders.py
Labels: enhancement, back

#53 Datasets API
  DashAI/front/src/api/datasets.ts
  DashAI/front/src/components/DatasetsTable.jsx
  DashAI/front/src/components/Upload.jsx
  DashAI/front/src/tabs/Data.jsx
Labels: enhancement, front

#52 Implement old endpoints
  DashAI/front/src/api/oldEndpoints.ts
  DashAI/front/src/components/AddModels.jsx
  DashAI/front/src/components/ParameterForm.jsx
  DashAI/front/src/components/PlayCard.jsx
  DashAI/front/src/components/ResultsCard.jsx
  DashAI/front/src/components/SchemaList.jsx
  DashAI/front/src/tabs/Data.jsx
  DashAI/front/src/tabs/Experiment.jsx
  DashAI/front/src/tabs/Results.jsx
  DashAI/front/src/utils/values.jsx
Labels: bug, front

#54 Remove endpoints from .env
  DashAI/front/.env.development
  DashAI/front/.env.production
  DashAI/front/src/layouts/ExperimentPipeline.jsx
  DashAI/front/src/layouts/Main.jsx
Labels: bug, front

#57 Fix task API
  DashAI/front/src/api/task.ts
  DashAI/front/src/types/task.ts
Labels: bug, front

#56 Dataloaders API
  DashAI/front/src/api/dataloader.ts
  DashAI/front/src/components/SchemaList.jsx
  DashAI/front/src/types/dataloader.ts
Labels: enhancement, front

#50 Experiments rework: page and new experiment modal
  DashAI/front/sample-db.json
  DashAI/front/src/App.jsx
  DashAI/front/src/components/experiments/ExperimentsTable.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
  DashAI/front/src/components/experiments/SelectDatasetStep.jsx
  DashAI/front/src/components/experiments/SetNameAndTaskStep.jsx
  DashAI/front/src/pages/ExperimentPage.jsx
Labels: enhancement, front

#45 Parameter form refactor
  DashAI/front/package.json
  DashAI/front/src/api/dataloader.ts
  DashAI/front/src/components/ConfigurableObject/FormRenderer.jsx
  DashAI/front/src/components/ConfigurableObject/FormTooltip.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/BooleanInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/ClassInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/FloatInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/IntegerInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/NumberInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/SelectInput.jsx
  DashAI/front/src/components/ConfigurableObject/Inputs/TextInput.jsx
  DashAI/front/src/components/ConfigurableObject/MainForm.jsx
  DashAI/front/src/components/ConfigurableObject/ParameterForm.jsx
  DashAI/front/src/components/ConfigurableObject/ParamsModal.jsx
  DashAI/front/src/components/ConfigurableObject/SplitsParams.jsx
  DashAI/front/src/components/ConfigurableObject/Subform.jsx
  DashAI/front/src/styles/components/InputStyles.jsx
  DashAI/front/src/styles/globalComponents.js
  DashAI/front/src/tabs/Data.jsx
  DashAI/front/src/types/dataloader.ts
  DashAI/front/src/utils/values.jsx
Labels: front, refactor

#58 New dataset modal - first two steps
  DashAI/front/src/components/ConfigurableObject/SplitsParams.jsx
  DashAI/front/src/components/DataloaderModal.jsx
  DashAI/front/src/components/SchemaList.jsx
  DashAI/front/src/components/datasets/DatasetModal.jsx
  DashAI/front/src/components/datasets/ItemsList.jsx
  DashAI/front/src/pages/Home.jsx
  DashAI/front/src/tabs/Data.jsx
Labels: enhancement, front

#69 Pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#60 Dataloaders and DashAIDataset Components
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/dataloaders/classes/dashai_dataset.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/dataloaders/classes/dataloader_params.py
  DashAI/back/dataloaders/classes/dataset_dashai.py
  DashAI/back/dataloaders/classes/json_dataloader.py
  DashAI/back/dataloaders/params_schemas/csvdataloader.json
  DashAI/back/dataloaders/params_schemas/jsondataloader.json
  DashAI/back/tasks/base_task.py
  DashAI/back/tasks/tabular_classification_task.py
  tests/back/api/test_datasets.py
  tests/back/dataloaders/iris.csv
  tests/back/dataloaders/irisDataset.json
  tests/back/dataloaders/test_dashai_dataset.py
  tests/back/dataloaders/test_dataloaders.py
  tests/back/dataloaders/wrong_iris.csv
  tests/back/tasks/__init__.py
  tests/back/tasks/iris.csv
  tests/back/tasks/iris_extra_feature.csv
  tests/back/tasks/test_tasks.py
Labels: enhancement, back

#62 Back Registry endpoint
  DashAI/back/api/api_v1/api.py
  DashAI/back/api/api_v1/endpoints/components.py
  DashAI/back/api/api_v1/endpoints/dataloaders.py
  DashAI/back/api/api_v1/endpoints/tasks.py
  DashAI/back/core/config.py
  DashAI/back/registries/base_registry.py
  tests/back/api/test_components.py
  tests/back/api/test_dataloaders.py
  tests/back/api/test_tasks.py
Labels: back, refactor

#73 Small fix in parameter form
  DashAI/front/src/components/ConfigurableObject/FormRenderer.jsx
Labels: bug, front

#67 Dataset modal - last step
  DashAI/front/src/components/ConfigurableObject/MainForm.jsx
  DashAI/front/src/components/ConfigurableObject/ParameterForm.jsx
  DashAI/front/src/components/ConfigurableObject/ParamsModal.jsx
  DashAI/front/src/components/Upload.jsx
  DashAI/front/src/components/datasets/ConfigureAndUploadDataset.jsx
  DashAI/front/src/components/datasets/DataloaderConfiguration.jsx
  DashAI/front/src/components/datasets/DatasetModal.jsx
  DashAI/front/src/components/datasets/ItemsList.jsx
  DashAI/front/src/styles/components/UploadStyles.jsx
  DashAI/front/src/tabs/Data.jsx
Labels: enhancement, front
