Repository DashAISoftware/DashAI, pull requests merged in 2024-03, with the labels that each got.

#181 NWFT Meta-Model
  DashAI/back/containers.py
  DashAI/back/models/__init__.py
  DashAI/back/models/scikit_learn/bow_text_classification_model.py
  tests/back/models/dummy_text.json
  tests/back/models/test_bow_text_class_model.py
Labels: enhancement, back

#182 Pydantic Schemas for all Components
  DashAI/back/core/schema_fields/__init__.py
  DashAI/back/core/schema_fields/bool_field.py
  DashAI/back/core/schema_fields/component_field.py
  DashAI/back/core/schema_fields/float_field.py
  DashAI/back/core/schema_fields/int_field.py
  DashAI/back/core/schema_fields/string_field.py
  DashAI/back/models/classes/numerical_wrapper_for_text.py
  DashAI/back/models/hugging_face/distilbert_transformer.py
  DashAI/back/models/hugging_face/opus_mt_en_es_transformer.py
  DashAI/back/models/hugging_face/vit_transformer.py
  DashAI/back/models/parameters/models_schemas/DecisionTreeClassifier.json
  DashAI/back/models/parameters/models_schemas/DistilBertTransformer.json
  DashAI/back/models/parameters/models_schemas/DummyClassifier.json
  DashAI/back/models/parameters/models_schemas/HistGradientBoostingClassifier.json
  DashAI/back/models/parameters/models_schemas/KNeighborsClassifier.json
  DashAI/back/models/parameters/models_schemas/LogisticRegression.json
  DashAI/back/models/parameters/models_schemas/OpusMtEnESTransformer.json
  DashAI/back/models/parameters/models_schemas/RandomForestClassifier.json
  DashAI/back/models/parameters/models_schemas/SVC.json
  DashAI/back/models/parameters/models_schemas/ViTTransformer.json
  DashAI/back/models/parameters/models_schemas/numericalwrapperfortext.json
  DashAI/back/models/scikit_learn/decision_tree_classifier.py
  DashAI/back/models/scikit_learn/dummy_classifier.py
  DashAI/back/models/scikit_learn/hist_gradient_boosting_classifier.py
  DashAI/back/models/scikit_learn/k_neighbors_classifier.py
  DashAI/back/models/scikit_learn/logistic_regression.py
  DashAI/back/models/scikit_learn/random_forest_classifier.py
  DashAI/back/models/scikit_learn/svc.py
  tests/back/schemas/test_schemas.py
Labels: enhancement, back, refactor

#183 Plugins API
  DashAI/back/api/api_v1/api.py
  DashAI/back/api/api_v1/endpoints/plugins.py
  DashAI/back/api/api_v1/schemas/plugin_params.py
  DashAI/back/core/enums/plugin_tags.py
  DashAI/back/core/enums/status.py
  DashAI/back/dependencies/database/models.py
  DashAI/back/dependencies/database/utils.py
  DashAI/back/plugins/__init__.py
  DashAI/back/plugins/utils.py
  tests/back/api/test_plugins.py
Labels: enhancement, back

#184 Change default for placeholder
  DashAI/back/core/schema_fields/bool_field.py
  DashAI/back/core/schema_fields/float_field.py
  DashAI/back/core/schema_fields/int_field.py
  DashAI/back/core/schema_fields/string_field.py
  DashAI/back/models/hugging_face/distilbert_transformer.py
  DashAI/back/models/hugging_face/opus_mt_en_es_transformer.py
  DashAI/back/models/hugging_face/vit_transformer.py
  DashAI/back/models/scikit_learn/bow_text_classification_model.py
  DashAI/back/models/scikit_learn/decision_tree_classifier.py
  DashAI/back/models/scikit_learn/dummy_classifier.py
  DashAI/back/models/scikit_learn/hist_gradient_boosting_classifier.py
  DashAI/back/models/scikit_learn/k_neighbors_classifier.py
  DashAI/back/models/scikit_learn/logistic_regression.py
  DashAI/back/models/scikit_learn/random_forest_classifier.py
  DashAI/back/models/scikit_learn/svc.py
  tests/back/models/test_bow_text_class_model.py
  tests/back/schemas/test_schemas.py
Labels: back, refactor

#185 Custom Union and Optional fields
  DashAI/back/core/schema_fields/__init__.py
  DashAI/back/core/schema_fields/bool_field.py
  DashAI/back/core/schema_fields/component_field.py
  DashAI/back/core/schema_fields/float_field.py
  DashAI/back/core/schema_fields/int_field.py
  DashAI/back/core/schema_fields/none_type.py
  DashAI/back/core/schema_fields/schema_field.py
  DashAI/back/core/schema_fields/string_field.py
  DashAI/back/core/schema_fields/union_type.py
  DashAI/back/models/hugging_face/distilbert_transformer.py
  DashAI/back/models/hugging_face/opus_mt_en_es_transformer.py
  DashAI/back/models/hugging_face/vit_transformer.py
  DashAI/back/models/scikit_learn/bow_text_classification_model.py
  DashAI/back/models/scikit_learn/decision_tree_classifier.py
  DashAI/back/models/scikit_learn/dummy_classifier.py
  DashAI/back/models/scikit_learn/hist_gradient_boosting_classifier.py
  DashAI/back/models/scikit_learn/k_neighbors_classifier.py
  DashAI/back/models/scikit_learn/logistic_regression.py
  DashAI/back/models/scikit_learn/random_forest_classifier.py
  DashAI/back/models/scikit_learn/svc.py
  tests/back/models/test_bow_text_class_model.py
  tests/back/schemas/test_schemas.py
Labels: enhancement, back, refactor

#170 Configure package logging using CLI option
  DashAI/__main__.py
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/app.py
  DashAI/back/containers.py
  DashAI/back/core/enums/logging_levels.py
  DashAI/back/dependencies/database/sqlite_database.py
  README.rst
  tests/back/api/conftest.py
Labels: back, chore
