Repository DashAISoftware/DashAI, pull requests merged in 2024-07, with the labels that each got.

#201 Back/explainers endpoint
  DashAI/back/api/api_v1/api.py
  DashAI/back/api/api_v1/endpoints/explainers.py
  DashAI/back/api/api_v1/schemas/explainers_params.py
  DashAI/back/core/enums/status.py
  DashAI/back/dependencies/database/models.py
  DashAI/back/explainability/explainers/partial_dependence.py
  tests/back/api/test_explanations_api.py
Labels: back, xai

#193 Pydantic-like DataLoader Schemas
  DashAI/back/config_object.py
  DashAI/back/core/schema_fields/__init__.py
  DashAI/back/core/schema_fields/base_schema.py
  DashAI/back/core/schema_fields/enum_field.py
  DashAI/back/core/schema_fields/string_field.py
  DashAI/back/dataloaders/classes/csv_dataloader.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/dataloaders/classes/json_dataloader.py
  DashAI/back/models/hugging_face/distilbert_transformer.py
  DashAI/back/models/hugging_face/opus_mt_en_es_transformer.py
  DashAI/back/models/hugging_face/vit_transformer.py
  DashAI/back/models/scikit_learn/decision_tree_classifier.py
  DashAI/back/models/scikit_learn/dummy_classifier.py
  DashAI/back/models/scikit_learn/k_neighbors_classifier.py
  DashAI/back/models/scikit_learn/logistic_regression.py
  DashAI/back/models/scikit_learn/svc.py
  tests/back/schemas/test_schemas.py
Labels: enhancement, back, refactor

#211 Dependency Injection V2
  DashAI/back/api/api_v1/endpoints/components.py
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/api/api_v1/endpoints/experiments.py
  DashAI/back/api/api_v1/endpoints/explainers.py
  DashAI/back/api/api_v1/endpoints/jobs.py
  DashAI/back/api/api_v1/endpoints/predict.py
  DashAI/back/api/api_v1/endpoints/runs.py
  DashAI/back/api/front_api.py
  DashAI/back/app.py
  DashAI/back/container.py
  DashAI/back/containers.py
  DashAI/back/core/schema_fields/utils.py
  DashAI/back/dependencies/config_builder.py
  DashAI/back/dependencies/database/__init__.py
  DashAI/back/dependencies/database/models.py
  DashAI/back/dependencies/database/sqlite_database.py
  DashAI/back/dependencies/job_queues/job_queue.py
  DashAI/back/job/explainer_job.py
  DashAI/back/job/model_job.py
  requirements.txt
  tests/back/api/test_components_api.py
  tests/back/api/test_explainer_jobs.py
  tests/back/api/test_explanations_api.py
  tests/back/api/test_jobs.py
  tests/back/api/test_predict.py
  tests/back/conftest.py
  tests/back/schemas/test_schemas.py
  tests/back/test_main.py
Labels: bug, back

#213 Excel Reader & Datasets Improvement
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/api/api_v1/schemas/datasets_params.py
  DashAI/back/container.py
  DashAI/back/dataloaders/__init__.py
  DashAI/back/dataloaders/classes/csv_dataloader.py
  DashAI/back/dataloaders/classes/excel_dataloader.py
  requirements.txt
Labels: back

#215 Add Excel dataloaders compatibility with splits and parametrize dataloaders classes through property
  DashAI/back/dataloaders/classes/excel_dataloader.py
  tests/back/dataloaders/base_dataloader_tests.py
  tests/back/dataloaders/test_csv_dataloader.py
  tests/back/dataloaders/test_excel_dataloader.py
  tests/back/dataloaders/test_json_dataloader.py
  tests/back/test_datasets_generator.py
Labels: back, chore

#216 Refactor test dataset generation
  tests/back/conftest.py
  tests/back/dataloaders/base_dataloader_tests.py
  tests/back/dataloaders/conftest.py
  tests/back/dataloaders/test_csv_dataloader.py
  tests/back/dataloaders/test_excel_dataloader.py
  tests/back/dataloaders/test_json_dataloader.py
Labels: back, chore
