Repository DashAISoftware/DashAI, pull requests merged in 2024-04, with the labels that each got.

#199 Update back tooling
  .pre-commit-config.yaml
  DashAI/__main__.py
  DashAI/back/api/api_v1/endpoints/components.py
  DashAI/back/app.py
  DashAI/back/core/enums/logging_levels.py
  DashAI/back/dataloaders/classes/audio_dataloader.py
  DashAI/back/dataloaders/classes/csv_dataloader.py
  DashAI/back/dataloaders/classes/dashai_dataset.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/dataloaders/classes/image_dataloader.py
  DashAI/back/dataloaders/classes/json_dataloader.py
  DashAI/back/dependencies/database/sqlite_database.py
  DashAI/back/dependencies/job_queues/base_job_queue.py
  DashAI/back/dependencies/registry/component_registry.py
  DashAI/back/dependencies/registry/relationship_manager.py
  DashAI/back/job/base_job.py
  DashAI/back/metrics/base_metric.py
  DashAI/back/metrics/classification/accuracy.py
  DashAI/back/metrics/classification/f1.py
  DashAI/back/metrics/classification/precision.py
  DashAI/back/metrics/classification/recall.py
  DashAI/back/metrics/translation/bleu.py
  DashAI/back/metrics/translation/ter.py
  DashAI/back/models/base_model.py
  DashAI/back/models/hugging_face/distilbert_transformer.py
  DashAI/back/models/hugging_face/opus_mt_en_es_transformer.py
  DashAI/back/models/hugging_face/vit_transformer.py
  DashAI/back/tasks/translation_task.py
  pyproject.toml
  requirements-dev.txt
  setup.py
  tests/back/api/test_components_api.py
  tests/back/dataloaders/test_dashai_dataset.py
  tests/back/dataloaders/test_dataloaders.py
  tests/back/metrics/test_translation_metrics.py
  tests/back/registries/test_registry.py
Labels: bug, back, chore

#194 Back/explainers
  .gitignore
  DashAI/back/config_object.py
  DashAI/back/containers.py
  DashAI/back/core/enums/squema_types.py
  DashAI/back/explainability/__init__.py
  DashAI/back/explainability/explainers/__init__.py
  DashAI/back/explainability/explainers/kernel_shap.py
  DashAI/back/explainability/explainers/partial_dependence.py
  DashAI/back/explainability/explainers/permutation_feature_importance.py
  DashAI/back/explainability/explainers_schemas/FitKernelShap.json
  DashAI/back/explainability/explainers_schemas/KernelShap.json
  DashAI/back/explainability/explainers_schemas/PartialDependence.json
  DashAI/back/explainability/explainers_schemas/PermutationFeatureImportance.json
  DashAI/back/explainability/global_explainer.py
  DashAI/back/explainability/local_explainer.py
  DashAI/back/models/scikit_learn/sklearn_like_model.py
  DashAI/front/yarn.lock
  requirements.txt
  tests/back/explainers/__init__.py
  tests/back/explainers/iris.csv
  tests/back/explainers/test_explainers.py
Labels: back, xai

#188 New Component Type Schema
  DashAI/back/core/schema_fields/component_field.py
  DashAI/back/models/scikit_learn/bow_text_classification_model.py
  tests/back/models/test_bow_text_class_model.py
  tests/back/schemas/test_schemas.py
Labels: back, refactor
