Repository DashAISoftware/DashAI, pull requests merged in 2024-02, with the labels that each got.

#179 First aproach to Pydantic Schemes
  DashAI/back/config_object.py
  DashAI/back/core/schema_fields/__init__.py
  DashAI/back/core/schema_fields/base_schema.py
  DashAI/back/core/schema_fields/component_field.py
  DashAI/back/core/schema_fields/int_field.py
  DashAI/back/core/schema_fields/string_field.py
  DashAI/back/core/schema_fields/utils.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/job/model_job.py
  DashAI/back/models/base_model.py
  tests/back/api/test_jobs.py
  tests/back/api/test_predict.py
  tests/back/conftest.py
  tests/back/schemas/__init__.py
  tests/back/schemas/test_schemas.py
Labels: back, refactor, chore

#178 Adds Dataset Summary Modal to the Datasets Table
  DashAI/front/src/components/datasets/DatasetModal.jsx
  DashAI/front/src/components/datasets/DatasetSummaryModal.jsx
  DashAI/front/src/components/datasets/DatasetSummaryStep.jsx
  DashAI/front/src/components/datasets/DatasetSummaryTable.jsx
  DashAI/front/src/components/datasets/DatasetsTable.jsx
Labels: enhancement, front

#176 Change splits in Experiment configuration
  DashAI/back/api/api_v1/endpoints/datasets.py
  DashAI/back/api/api_v1/endpoints/predict.py
  DashAI/back/dataloaders/classes/dashai_dataset.py
  DashAI/back/dataloaders/classes/dataloader.py
  DashAI/back/job/model_job.py
  DashAI/front/src/components/experiments/ConfigureModelsStep.jsx
  DashAI/front/src/components/experiments/DivideDatasetColumns.jsx
  DashAI/front/src/components/experiments/NewExperimentModal.jsx
  DashAI/front/src/components/experiments/PrepareDatasetStep.jsx
  DashAI/front/src/components/experiments/SelectDatasetStep.jsx
  DashAI/front/src/components/experiments/SetNameAndTaskStep.jsx
  DashAI/front/src/components/experiments/SplitDatasetRows.jsx
  tests/back/api/test_experiments_api.py
  tests/back/api/test_jobs.py
  tests/back/api/test_predict.py
  tests/back/api/test_runs_api.py
  tests/back/converters/test_drop_column_converters.py
  tests/back/dataloaders/test_dashai_dataset.py
  tests/back/models/test_tabular_class_models.py
  tests/back/tasks/test_tasks.py
Labels: enhancement, front, back
